@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
@import "../../node_modules/toastr/build/toastr.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
  .font-code {
    font-family: "Ubuntu Sans Mono", monospace;
  }

  .font-web {
    font-family: "Open Sans", "Source Sans Pro", "Kozuka Gothic Pr6N", Meiryo,
      sans-serif;
  }
}

body {
  @apply font-code;
}

.web-content :is(h1, h2, h3, h4, h5, h6, p, span, strong, b, i, u) {
  @apply font-web;
}

.web-content :is(h1, h2, h3, h4, h5, h6) {
  display: block;
  font-weight: bold;
}

.web-content h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.web-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.web-content h3 {
  font-size: 1.17rem;
  margin-bottom: 0.3rem;
}

.web-content p {
  padding: 5px 0;
  line-height: 1.67;
}

/* START Control Quill editor empty line break height START */

.web-content p br {
  content: "";
  font-size: 15px;
  margin: 0.65rem;
  display: block;
}

@supports selector(:has(br)) {
  .web-content p:has(br) {
    padding: 0;
    line-height: 1.4;
  }

  .web-content p br {
    content: initial;
    display: inline;
    margin: initial;
  }
}

/* END Control Quill editor empty line break height END */

.code-block {
  @apply my-1;
}

.code-block * {
  @apply font-code !important;
}

.code-block .shiki {
  @apply p-4 rounded-lg overflow-x-scroll;
}
