@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");
@import "../../node_modules/toastr/build/toastr.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu Sans Mono", monospace;
}

.web-content :is(h1, h2, h3, h4, h5, h6) {
  display: block;
  font-weight: bold;
}

.web-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.web-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.web-content h3 {
  font-size: 1.17rem;
  margin-bottom: 0.5rem;
}

.web-content p {
  padding: 8px 0;
}

.code-block {
  @apply my-1;
}

.code-block .shiki {
  @apply p-4 rounded-lg overflow-x-scroll;
}
